.charSheet {
  background-color: #EDF2F4;
  color: #2B2D42;
  padding: 20px 20px 30px 20px;
  max-width: 500px;
}

.statsContainer {
    border: 1px solid #586e75;
    padding: 10px;
    width: 50%;
}
.hpLoad {
    padding-right: 10px;
}
.section {
    margin: 10px 0;
}
.stat {
    margin-top: 10px;
}
