.App {
  background-color: #2B2D42;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #EDF2F4;
}

.App-link {
  color: #61dafb;
}
