

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #FDF6E3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #073642;
}

.App-link {
  color: #61dafb;
}

.generateButton {
  border-radius: 5px;
  border: 1px solid #073642;
  background-color: white;
  padding: 10px;
  color: #073642;
  margin-top: 20px;
}